
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Products</h1>

<f:flashMessages />

<table  class="tx_tectrolproducts" >
	<tr>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.title" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.description" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.viskovg" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.viskoj300" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.viskoj306" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.nlgi" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.anwendungsempfehlung" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.freigaben" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.spezifikation" /></th>
		<th><f:translate key="tx_tectrolproducts_domain_model_products.typeimage" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{productss}" as="products">
		<tr>
			<td><f:link.action action="show" arguments="{products : products}"> {products.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.viskovg}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.viskoj300}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.viskoj306}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.nlgi}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.anwendungsempfehlung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.freigaben}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.spezifikation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{products : products}"> {products.typeimage.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{products : products}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{products : products}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Products</f:link.action>
</f:section>