{namespace m=TYPO3\Tectrolproducts\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
    <div class="col-xs-12 col-sm-3" style="position:relative" id="left_column">                	                    
        <div id="left_column_additional">
            <f:render section="categories" arguments="{categories: categories}" />
        </div>
    </div>
    <div id="main_column" class="col-xs-12 col-sm-9">
            
            
            <f:render section="product" arguments="{product: product}" />
    </div>
</f:section>

<f:section name="categories">    
    <div id="left_col_content">
        <ul class="tree" id="tectrol_subnavi">
        <f:render section="categoryList" arguments="{categories: categories}" />
        </ul>
    </div>   
    <f:section name="categoryList">        
        <f:for each="{categories}" as="category">
            <f:if condition="{category.subcategories}">
                <f:then>
                    <li {category.active}>
                            

                            <span><f:link.action action="list" arguments="{category:category.uid}">{category.title}</f:link.action></span>

                                    <ul class="sub_navi_lvl2_prod">
                                        <f:render section="categoryList" arguments="{categories: category.subcategories}" />
                                    </ul>
                        </li>
                </f:then>
                <f:else>
                <li class="tree-closed">
                        <span><f:link.action action="list" arguments="{category:category.uid}">{category.title}</f:link.action></span>
                </li>    
                </f:else>
            </f:if>
                
        </f:for>	
    </f:section>
</f:section>


<f:section name="product">
    <div class="col-xs-12 col-sm-9">
        <div class="productdetails">
            	
                <div class="item">
                    <h1>{product.title}</h1>
                    
                	
                    <div class="product_img_wrap">
                    <f:image image="{productpackages.image}" alt="{product.typeimage.originalResource.title}" style="height:auto;"/>
                    
                    <div id="product_img_icon">
                        <f:image image="{product.typeimage}" alt="{product.typeimage.originalResource.title}" style="height:auto;"/>
                    </div>
                    
                    <div class="text-center">
                    <div class="btn btn-primary productdetails shoplink">Jetzt online bestellen</div>
                    </div>
                  </div>
                    {product.description -> f:format.html()}
                    <h3>Freigaben</h3>
                    <p class="freigaben">{product.freigaben -> f:format.html()}</p>
                    
                    <h3>Spezifikationen</h3>
                    <p class="freigaben">{product.spezifikation -> f:format.html()}</p>
                    
                    
                    <h3>Anwendungsempfehlungen</h3>
                    <p>{product.anwendungsempfehlung -> f:format.html()}</p>
                    
                    
                    <h3>Verfügbare Gebindegrößen</h3>
                    <p>10 L, 50 L, 205 l</p>
                    
                    
                    <h3>Downloads</h3>
                    <ul>
                      <li><a href="#">Produktinformationsblatt</a></li>
                      <li><a href="#">Sicherheitsdatenblatt</a></li>
                    </ul>
                    
                    
                     
                    
                    
                    <p>&nbsp;<br>
<br>
<br>                   
                    </p>
                    
                    
                    
                    <div class="btn btn-primary">Zurück zur Übersicht</div>
                    
                    <div class="listspacer"></div>
                    
                    
                </div>
                
                
                
                
                
            
            </div>
    </div>
</f:section>