{namespace m=TYPO3\Tectrolproducts\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
    <div class="col-xs-12 col-sm-3" style="position:relative" id="left_column">                	                    
        <div id="left_column_additional">
            <f:render section="categories" arguments="{categories: categories}" />
        </div>
    </div>
    <div id="main_column" class="col-xs-12 col-sm-9">
            
            
            <f:render section="product" arguments="{product: product,packages: productpackages,productimage: productimage,lastcat: lastcat}" />
    </div>
</f:section>

<f:section name="categories">    
    <div id="left_col_content">
        <ul class="tree" id="tectrol_subnavi">
        <f:render section="categoryList" arguments="{categories: categories}" />
        </ul>
    </div>   
    <f:section name="categoryList">        
        <f:for each="{categories}" as="category">
            <f:if condition="{category.subcategories}">
                <f:then>
                    <li {category.active}>
                            

                            <span><f:link.action action="list" arguments="{category:category.uid}">{category.title}</f:link.action></span>

                                    <ul class="sub_navi_lvl2_prod">
                                        <f:render section="categoryList" arguments="{categories: category.subcategories}" />
                                    </ul>
                        </li>
                </f:then>
                <f:else>
                <li class="tree-closed">
                        <span><f:link.action action="list" arguments="{category:category.uid}">{category.title}</f:link.action></span>
                </li>    
                </f:else>
            </f:if>
                
        </f:for>	
    </f:section>
</f:section>


<f:section name="product">
    <div class="col-xs-12 col-sm-9">
        <div class="productdetails">
            	
                <div class="item">
                    <h1>{product.title}</h1>
                    
                	
                    <div class="product_img_wrap">
                        
                        {productimage.originalResource.publicUrl}
                        <f:image image="{productimage.image.uid}" alt="{productimage.originalResource.title}" treatIdAsReference="1" class="product_image"/>
                    
                        <div id="product_img_icon">
                            <f:image image="{product.typeimage.uid}" alt="{product.typeimage.originalResource.title}" treatIdAsReference="1" style="height:auto;"/>
                        </div>
                    
                        <div class="text-center">
                            
                            <div class="btn btn-primary productdetails shoplink"><f:link.external uri="{product.shoplink}" target="_blank"> Jetzt online bestellen</f:link.external></div>
                        </div>
                    </div>
                    {product.description -> f:format.html()}
                    <h3>Freigaben</h3>
                    <p class="freigaben">{product.freigaben -> f:format.html()}</p>
                    
                    <h3>Spezifikationen</h3>
                    <p class="freigaben">{product.spezifikation -> f:format.html()}</p>
                    
                    
                    <h3>Anwendungsempfehlungen</h3>
                    <p>{product.anwendungsempfehlung -> f:format.html()}</p>
                    
                    
                    <h3>Verfügbare Gebindegrößen</h3>
                    <f:for each="{packages}" as="package" iteration="iterator">                                                
                        <f:if condition="{iterator.index} > 0">,&nbsp;</f:if><span>{package.size}{package.unit}</span>                                                  
                    </f:for>
                    
                    
                    <h3>Downloads</h3>
                    <ul>
                        <f:for each="{product.downloads}" as="download">
                            <li>                                
                                <f:link.page pageUid="{download.file.originalResource.publicUrl}" target="_blank"> {download.title} </f:link.page> 
                            </li>
                        </f:for>                                            
                    </ul>
                    
                    
                     
                    
                    
                    <p>&nbsp;<br>
<br>
<br>                   
                    </p>
                    
                    
                    
                    <div class="btn btn-primary"><f:link.action action="list" arguments="{category:lastcat}">Zurück zur Übersicht</f:link.action></div>
                    
                    <div class="listspacer"></div>
                    
                    
                </div>
                
                
                
                
                
            
            </div>
    </div>
</f:section>