
<table class="tx-tectrolproducts" >
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.title" />
		</td>
		<td>
			{products.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.description" />
		</td>
		<td>
			{products.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.viskovg" />
		</td>
		<td>
			{products.viskovg}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.viskoj300" />
		</td>
		<td>
			{products.viskoj300}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.viskoj306" />
		</td>
		<td>
			{products.viskoj306}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.nlgi" />
		</td>
		<td>
			{products.nlgi}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.anwendungsempfehlung" />
		</td>
		<td>
			{products.anwendungsempfehlung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.freigaben" />
		</td>
		<td>
			{products.freigaben}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.spezifikation" />
		</td>
		<td>
			{products.spezifikation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_tectrolproducts_domain_model_products.typeimage" />
		</td>
		<td>
			{products.typeimage.originalResource.name}
		</td>
	</tr>
</table>