
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Products</h1>

<f:flashMessages />
<div id="products" class="row list-group">
<f:for each="{productss}" as="products">
<div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
                <!-- IMAGE CONTAINER-->
                <f:if condition="{products.typeimage.originalResource.name}!=''">
                    <f:then>
                        <img class="group list-group-image" src="{products.typeimage.originalResource.name}" alt="{products.title}">
                    </f:then>
                    <f:else>
                        <img class="group list-group-image" src="fileadmin/images/products/dummy.jpg" alt="{products.title}">
                    </f:else>
                </f:if>
                <!--END IMAGE CONTAINER-->
                <!-- CAPTION -->
                <div class="caption">
                <h4 class="group inner list-group-item-heading">{products.title}</h4>
                        <p class="group inner list-group-item-text">{products.description}</p>
                        
                        <div class="row">
                              
                                <div class="col-xs-12 col-md-6">
                                        <a class="btn btn-success btn-block" href="http://www.bootstraptor.com">Details</a>
                                </div>
                        </div>
                </div> 
                <!--END CAPTION -->
        </div>
        <!-- END: THUMBNAIL -->
</div>
    
</f:for>
    </div>
</f:section>