
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <div id="left_col_content">
        <ul class="tree treemenu" id="tectrol_subnavi">
        <f:render section="categoryList" arguments="{categories: categories}" />
        </ul>
    </div>
</f:section>



<f:section name="categoryList">        
		<f:for each="{categories}" as="category">
                        <li><span class="toggler"></span>
                            
                                <span>{category.title}</span>
				<f:if condition="isset({category[subcategories]})">
                                    <ul class="sub_navi_lvl2_prod treemenu">
					<f:render section="categoryList" arguments="{categories: category.subcategories}" />
                                        </ul>
				</f:if>
			</li>
		</f:for>	
</f:section>